<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs') %>

    <body>
        <link rel="stylesheet" href="/css/users/profile.css"/>
        <%- include("../partials/header") %>
            <main>

                <section class="contbannerlist">
                    <h2 class="bannerlist">
                        <%= locals.title ? title : null %>
                    </h2>

                </section>

                <% if (user !=null && user.admin) { %>
                 
                    <section class="usersList">
                        <% if (locals.users) { %>
                            <% if (users.length> 0) { %>
                                <% users.forEach(user=> { %>
                                    <article class="generalList">
                                        <a class="contentlista" href="/users/profile/<%= user.id %> ">
                                            <% if (user.image) { %>
                                                <img id="imgCentral"src="/avatars/<%= user.image.url %> " alt="photo<%= user.email %> "class="avatar">
                                                <% } %>
                                                    <ul class="userList2">
                                                        <li class="liUsers">Name: <%= user.firstName %>
                                                        </li>
                                                        <li class="liUsers">Last Name: <%= user.lastName %>
                                                        </li>
                                                        <li class="liUsers">E-mail: <%= user.email %>
                                                        </li>
                                                        <li class="liUsers">Adress: <%= user.adress %>
                                                        </li>
                                                        <li class="liUsers">Phone: <%= user.phone %>
                                                        </li>
                                                    </ul>
                                                    <section>
                                                        <article class="datosProfile">
                                                            <a class="boton-formulario" href='/users/edit/'>MODIFICAR</a> 
                                                        </article>
                                                        <br>
                                                        <form action="/users/delete/<%- user.id %>?m=DELETE" method="post" class="agregar">
                                                            <script>
                                                                // Confirmacion del boton para borrar productos
                                                                function confirmAction() {
                                                                  let confirmAction = confirm("Está seguro que quiere eliminar el Usuario?");
                                                                  if (confirmAction) {
                                                                    alert("Eliminado Correctamente!");
                                                                  } else {
                                                                    event.preventDefault();
                                                                  }
                                                                }
                                                              </script>
                                                                <button type="submit" class="botonAgregar" id="delete" onclick="confirmAction()">BORRAR USUARIO</button>
                                                         </form>
                                                    </section>
                                        </a>
                                    </article>
                                <% }) %>
                             <% } %>
                                      
                        <% } %>
                       
                    </section>       
            <% } else { %>
                    <section class="contlistado">
                        <h1 class="titulolist">Tenés que ser admin para ver la lista de usuarios</h1>
                    </section>
                <% } %>
            </main>
            <%- include("../partials/footer") %>
    </body>

</html>